body{
  	background-color: #000;
		background-image: url(../images/background.png);
		background-repeat:no-repeat;
    background-position:right top;
		margin:0;
		padding:0;
		height:100%;
}

.list-menu-moblie{
  display: none;
}

/* @media queries*/

@media screen and (max-width: 500px)
{

.Menu-title{
  font-size: 30px;
}

.image-main img  {
  width: 100%;
}

.list-menu-desktop{
  display: none;
}

.list-menu-moblie{
  display: inline-flex;
}
.info-menu{
display: none;

}

.content-main{
	width: 88%!important;
  margin: 0 auto;
}

.title-menu{
		background-image: url(../images/background.png);
    color: #fff;


}


}



.icon-button{
	height: 50px;
	width: 51px;
	background-image: url(../images/Button-menu-up.png);
	background-repeat:no-repeat;
  padding: 0;
}

.icon-button:hover{
	height: 50px;
	width: 51px;
	background-image: url(../images/Button-menu-down.png);
}



/* Background Colors*/
.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

.grey {
  background-color: #5b5b5b;
}


/* Custom div classs*/

#title-column-menu {
  height: 100%;
}

.menu-common {
  border-style: solid;
  border-width: 4px 0 4px 0px;
  padding: 25px;
}

.content-common {
  padding: 25px;
}

.footer-common {
  border-style: solid;
  border-width: 2px 0 2px 0px;
  padding: 5px;
}

.content-main{
	background: rgba(255, 255, 255, 0.6);
	width: 70%;
	height: 100%;
}

.title-menu {
  height: 20%;
}

.info-menu {
  height: 20%;
}

.list-menu {
  height: 60%;
}


.footer {
	position: absolute;
  right: 0;
  bottom: -10%;
  left: 0;
  padding: 1rem;
  background-color: #000;
  text-align: center;
}

/*dropdown styles*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: inherit;
    background-color: #000;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 30px 0px;
    margin: 130% 50%;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
}


/* Custom SKELETON overides*/


/* .column, .columns {
    margin-left: 0 !important;
}*/
