/*@media*/
@media screen and (max-width: 1110px) {
  .Title {
    font-size: 100%;
  }
  li {
    padding-left: 0px;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

body, td, th {
  color: #FFF;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  color: #F30;
  padding-left: 16%;
  font-size: 100%;
}

p {
  padding: 10px;
  background-color: #000;
}

a {
  color: #000;
  padding: 5px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  padding-left: 20px;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.Title {
  font-size: 200%;
}

.Container {
  width: 100%;
  display: flex;
}

.hull-title {
  color: #fff;
  padding: 5px;
  font-weight: bold;
  font-size: 28px;
  border-bottom: 2px solid #fff;
}

.hull {
  width: 75%;
  height: 700px;
  margin-left: 40%;
  margin-top: 2%;
  overflow: auto;
}

.Menu {
  background-color: #fff;
  width: 25%;
  height: 100%;
  position: absolute;
}
